@model IEnumerable<MovieBlog.Models.DirectorDto>
@{
    ViewBag.Title = "ListDirectors";
}

<h2 class="center">List of Directors</h2>
<div class="center">
    @Html.ActionLink("Create New Director", "Create", "Director", new { }, null)
</div>

@foreach (var item in Model)
{
    //Use server rendering to determine an image
    string pic = "/Content/Directors/default.jpg";
    string alt = "No Profile Picture Provided.";
    if (item.DirectorHasPic)
    {
        pic = "/Content/Directors/" + item.DirectorID + "." + item.PicExtension;
        alt = "Picture of " + item.FirstName + " " + item.LastName;
    }
    <div class="director">
        <div class="imagecontainer">
            <a href="@pic" title="@alt">
                <img src="@pic" alt="@alt" />
            </a>
        </div>
        <div class="directorname"><h4>@item.FirstName @item.LastName</h4></div>
        <div class="directorBio">@item.Bio</div>
        <div class="admintab">
            @Html.ActionLink("Edit", "UpdateDirector", "Director", new { id = item.DirectorID }, null) |
            @Html.ActionLink("Details", "DirectorDetails", "Director", new { id = item.DirectorID }, null)
        </div>

    </div>
}

@*<h2>List of Directors</h2>
@Html.ActionLink("Create New Director", "Create", "Director", new { }, null)


<table class="table">
    <tr>
        <th>
            Picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        //Use server rendering to determine an image
        string pic = "/Content/Directors/default.jpg";
        string alt = "No Profile Picture Provided.";
        if (item.DirectorHasPic)
        {
            pic = "/Content/Directors/" + item.DirectorID + "." + item.PicExtension;
            alt = "Picture of " + item.FirstName + " " + item.LastName;
        }
        <tr>
            <td>
                <div class="imagecontainer">
                    <a href="@pic" title="@alt">
                        <img src="@pic" alt="@alt" />
                    </a>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateDirector", "Director", new { id = item.DirectorID }, null)
                @Html.ActionLink("Details", "DirectorDetails", "Director", new { id = item.DirectorID }, null)
            </td>
        </tr>
    }
</table>*@
