@model MovieBlog.Models.ActorDto
@{
    ViewBag.Title = "ActorDetails";
}
@Html.ActionLink("Back to List", "ListActors", "Actor", new { }, null)
<h2 class="center">Update : @Model.FirstName @Model.LastName</h2>

<div class="updateactor">
    <form method="POST" name="actorform" action="/Actor/UpdateActor/@Model.ActorID" enctype="multipart/form-data">
        <div class="form_inputfield center">
            <label for="FirstName">First Name : </label>
            <input type="text" value="@Model.FirstName" class="" id="FirstName" name="FirstName" />
        </div>
        <div class="form_inputfield center">
            <label for="LastName">Last Name : </label>
            <input type="text" value="@Model.LastName" id="LastName" name="LastName" />
        </div>
        <div class="form_inputfield center">
            <label for="Country">Country : </label>
            <input type="text" value="@Model.Country" id="Country" name="Country" />
        </div>
        <div class="form_inputfield center">
            <label for="Bio">Bio :</label>
            <textarea id="Bio" name="Bio">@Model.Bio</textarea>
        </div>
        <div class="center">
            <input type="submit" value="Save" class="center" />
        </div>
        <input type="number" name="ActorID" value="@Model.ActorID" style="display:none;" />
        <div class="form_inputfield center">
                <label for="ActorPic">Picture</label>
                <input class = "choosefile" type="file" name="ActorPic" id="ActorPic" />
        </div>
    </form>

</div>

