@model MovieBlog.Models.ActorDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>View</h2>

<h3>Are you sure you want to delete this team?</h3>
<div>
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
    <form action="/Actor/Delete/@Model.ActorID" method="POST">
        <input type="submit" value="Delete" />
    </form> 
    @Html.ActionLink("Back to List", "ListActors", "Actor", new { }, null)
</div>