@model IEnumerable<MovieBlog.Models.ActorDto>
@{
    ViewBag.Title = "ListActors";
}
<h2 class="center">List of Actors</h2>
<div class="center">
    @Html.ActionLink("Create New Actor", "Create", "Actor", new { }, null)
</div>

@foreach (var item in Model)
{
    //Use server rendering to determine an image
    string pic = "/Content/Actors/default.jpg";
    string alt = "No Profile Picture Provided.";
    if (item.ActorHasPic)
    {
        pic = "/Content/Actors/" + item.ActorID + "." + item.PicExtension;
        alt = "Picture of " + item.FirstName + " " + item.LastName;
    }
    <div class="actor">
        <div class="imagecontainer">
                        <a href="@pic" title="@alt">
                            <img src="@pic" alt="@alt" />
                        </a>
        </div>
        <div class="actorname"><h4>@item.FirstName @item.LastName</h4></div>
        <div class="actorBio">@item.Bio</div>
        <div class="admintab">
            @Html.ActionLink("Edit", "ActorDetails", "Actor", new { id = item.ActorID }, null) |
            @Html.ActionLink("Details", "UpdateActor", "Actor", new { id = item.ActorID }, null)
        </div>
        
    </div>
}
    @*<table class="table">
        <tr>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            //Use server rendering to determine an image
            string pic = "/Content/Actors/default.jpg";
            string alt = "No Profile Picture Provided.";
            if (item.ActorHasPic)
            {
                pic = "/Content/Actors/" + item.ActorID + "." + item.PicExtension;
                alt = "Picture of " + item.FirstName + " " + item.LastName;
            }
            <tr>
                <td>
                    <div class="imagecontainer">
                        <a href="@pic" title="@alt">
                            <img src="@pic" alt="@alt" />
                        </a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ActorDetails", "Actor", new { id = item.ActorID }, null)
                    @Html.ActionLink("Details", "UpdateActor", "Actor", new { id = item.ActorID }, null)
                </td>
            </tr>
        }
    </table>*@
